<!DOCTYPE html>
<html>
<head>
    <title>Pagina Personale</title>
</head>
<body>
    <h1>Ciao, {{ username }}!</h1>
    <h3>I tuoi ordini in corso:</h3>
    <ul>
        {% for ordine in ordini_in_corso %}
            <li>{{ ordine }}</li>
        {% else %}
            <li>Nessun ordine in corso</li>
        {% endfor %}
    </ul>

    <h3>I tuoi ordini vecchi:</h3>
    <ul>
        {% for ordine in ordini_vecchi %}
            <li>{{ ordine }}</li>
        {% else %}
            <li>Nessun ordine vecchio</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
