<!DOCTYPE html>
<html>
<head>
    <title>Pagina Iniziale</title>
</head>
<body>
    <h1>Benvenuto!</h1>
    <form action="/abc" method="get">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="cognome">Cognome:</label>
        <input type="text" id="cognome" name="cognome" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Invia">
    </form>
</body>
</html>
